{% extends 'base.html' %}
   
{% block body %}
<body onload="getLocation()" >
    <div class="heading">FuelWatch</div>
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openPage(event, 'today')">Todays Prices</button>
        <button class="tablinks" onclick="openPage(event, 'tomorrow')">Tomorrows prices</button>
    </div>
    <div id="today" class="tabcontent">
        <h3>Fuel prices within a 5km radius</h3>
        {{ ULP }}
        {{ PULP }}
        {{ RON98 }}
        {{ Diesel }}
        {{ LPG }}
    </div>
    <div id="tomorrow" class="tabcontent">
        {% if TMRW_ULP %}
            {{ TMRW_ULP }}
            {{ TMRW_PULP }}
            {{ TMRW_RON98 }}
            {{ TMRW_Diesel }}
            {{ TMRW_LPG }}
        {% else %}
            <h3>Tomorrows prices will be released afer 2:30pm WAST.</h3>
        {% endif %}
    </div>
    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>
</html>
{% endblock %}